<nav class="main-nav" role="navigation">
    <div class="navbar-header">
        <button type="button" id="trigger-overlay" class="navbar-toggle">
            <span class="ion-navicon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li class="cl-effect-11"><a href="#" data-hover="Home">Home</a></li>
            <li class="cl-effect-11"><a href="#" data-hover="Blog">Blog</a></li>
            <li class="cl-effect-11"><a href="#" data-hover="About">About</a></li>
            <li class="cl-effect-11"><a href="#" data-hover="Contact">Contact</a></li>
        </ul>
    </div>
</nav>