{% load menu_tags %}
{% menu_items as items %}

<nav class="main-nav" role="navigation">
    <div class="navbar-header">
        <button type="button" id="trigger-overlay" class="navbar-toggle">
            <span class="ion-navicon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            {% for title, url in items.items %}
            <li class="cl-effect-11"><a href="{{ url }}" data-hover="{{ title }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>