{% extends 'blog/base.html' %}

{% load static %}

{% block title %}Edit Post{% endblock %}

{% block post_content %}
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">Edit Post</h1>
        </header>
        <div class="entry-content clearfix">
            <form method="POST" action="{% url 'blog:edit_post' post.slug %}" enctype="multipart/form-data"
                  class="standard-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-send btn-5 btn-5b ion-ios-paperplane"><span>Update</span></button>
            </form>
        </div>
    </article>
{% endblock %}
