{% extends 'blog/base.html' %}

{% load static %}

{% block title %}All posts{% endblock %}

{% block post_content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} text-center"
                 style="margin-top: 20px; margin-bottom: 0;">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% for post in posts %}
        <article class="post post-1">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{{ post.get_absolute_url }}">{{ post.title|title }}</a>
                </h1>
                <div class="text-center">
                    <a href="{{ post.get_absolute_url }}">
                        <img src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'img/no-image.jpg' %}{% endif %}" class="post-img" alt="{{ post.title|title }}">
                    </a>
                </div>
                <div class="entry-meta">
                    <span class="post-category"><a
                            href="{{ post.category.get_absolute_url }}">{{ post.category.title|title }}</a></span>
                    <span class="post-date"><a><time class="entry-date">{{ post.created_at }}</time></a></span>
                    <span class="post-author"><a
                            href="{% url 'blog:author' post.author.username %}">{{ post.author.username }}</a></span>
                    <span class="comments-link"><a>{{ post.comment_count }} Comments</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ post.content|truncatewords:100 }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ post.get_absolute_url }}" class="more-link">Continue reading <span
                            class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
        {% if not forloop.last %}<hr>{% endif %}
        {% empty %}
        <article class="post text-center"><h3>No content</h3></article>
    {% endfor %}
    {% include 'inc/_paginator.html' %}
{% endblock %}