{% extends 'base.html' %}

{% block title %}All posts{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-12">

            {% for post in posts %}
            <!-- Blog Post -->
            <h2 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <p>{{ post.content|truncatewords:"250" }}</p>
            <p>
                <span class="glyphicon glyphicon-time"></span> {{ post.created_at }} |
                <span class="glyphicon glyphicon-user"></span> {{ post.author.username|title }}
            </p>
            <a class="btn btn-default" href="{{ post.get_absolute_url }}">Read More</a>
            <hr>
            {% empty %}
            <h3>No Content</h3>
            {% endfor %}

            <!-- Paginator -->
            {% include 'inc/_paginator.html' %}
        </div>
    </div>
</div>
{% endblock %}