{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>

<!-- Header -->
{% include 'inc/_header.html' %}

<div class="content-body">
    <div class="container">
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<!-- Footer -->
{% include 'inc/_footer.html' %}

<!-- Mobile Menu -->
{% include 'inc/_mobile_menu.html' %}

<!-- js -->
<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/pace.min.js' %}"></script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
